<div class="col d-flex justify-content-center">
    <div class="card" style="width: 25rem;">
        <div class="card-header">
            <h2>User Login</h2>
        </div>
        <div class="card-body">
            <form (ngSubmit)="login()">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="user.username" name="username"
                        placeholder="king">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" [(ngModel)]="user.password" name="password"
                        placeholder="******">
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-secondary" value="Login" />
                </div>
            </form>
        </div>
    </div>
</div>