<!-- <h2>App Component</h2>
<a routerLink='home'>Home</a> |
<a routerLink='about'>About</a> |
<a routerLink='products'>Products</a> |
<a routerLink='contact'>Contact</a>
<router-outlet>
</router-outlet> -->

<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
        <use xlink:href="#bootstrap" />
      </svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink='home' class="nav-link px-2 link-secondary">Home</a></li>
      <li><a routerLink='about' class="nav-link px-2 link-dark">About</a></li>
      <li><a routerLink='products' class="nav-link px-2 link-dark">Products</a></li>
      <li><a routerLink='contact' class="nav-link px-2 link-dark">Contact</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </header>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>